//Colors
$primary-color: #13bf80;
$primary-hover: #006639;
$white: #ffffff;
$black: #000000;
//Spacing
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 20px;
$spacing-large: 40px;
$spacing-xlarge: 60px;

//Font Size:
$body: 16px;
$body-small: 14px;
$heading01: 32px;
$heading02: 28px;
$heading03: 24px;
$heading04: 20px;

//Font-weight:
$fontweight-normal: 400;
$fontweight-medium: 500;
$fontweight-demi: 600;

//Breakpoints
$mobile-breakpoint: 23rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 64rem;
$xl-breakpoint: 75rem;
$container-width: 75rem;
$container-padding-desktop: 2.125rem;
$container-padding-mobile: 1.25rem;
